* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.tableContainer {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}